v2-vision.json
{
  "name": "v2-vision",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5d8e1f7a-3c29-4b6d-a4e8-92f0c7b1d653",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-96, -96],
      "id": "0df99e3e-e074-4850-b6a9-8d70da422981",
      "name": "Webhook",
      "webhookId": "5d8e1f7a-3c29-4b6d-a4e8-92f0c7b1d653"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/chat/loading/start",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chatId\": \"{{ $('Webhook').item.json.body.events[0].source.userId }}\",\n    \"loadingSeconds\": 20\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [128, -96],
      "id": "5b1c0d3e-9a42-4f87-b6c1-7e2d4a8f0c95",
      "name": "Show Loading",
      "credentials": {
        "httpBearerAuth": {
          "id": "LINE_BEARER_CREDENTIAL_ID_HERE",
          "name": "LINE Channel Access Token"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "187710ac-eb7f-47de-bbc1-98d3b5815d85",
                    "leftValue": "={{ $('Webhook').item.json.body.events[0].message.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2d0e573d-928f-44d2-83ff-89a810ffe2ba",
                    "leftValue": "={{ $('Webhook').item.json.body.events[0].message.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [352, -96],
      "id": "efbf6e4c-70ea-45ae-91e2-8193420859e3",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.events[0].message.text || '送られた画像について日本語で説明してください。' }}",
        "options": {
          "systemMessage": "あなたはLINE上で動くパーソナルAI秘書です。テキストでも画像でも、内容を踏まえて自然に応答してください。返信はLINEのトークとして自然な、短く簡潔な日本語で書いてください。Markdown記法（# や ** など）は使わないでください。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [832, -240],
      "id": "a1f5c8d2-6e3b-4a90-b7d4-58e2c91f0a36",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [544, -48],
      "id": "b9e4d7a1-2c85-4f63-a0b9-71d3e8c45f02",
      "name": "Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GEMINI_CREDENTIAL_ID_HERE",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.events[0].source.userId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [704, -48],
      "id": "c3a8f216-9d47-4b50-8e1a-64f9b0d27c88",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"replyToken\": \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n    \"messages\":[\n        {\n            \"type\": \"textV2\",\n            \"text\": {{ JSON.stringify($json.output) }}\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [960, -240],
      "id": "67b8af01-ea88-4d3f-9fbb-11305f40b89c",
      "name": "LINE Reply Message",
      "credentials": {
        "httpBearerAuth": {
          "id": "LINE_BEARER_CREDENTIAL_ID_HERE",
          "name": "LINE Channel Access Token"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api-data.line.me/v2/bot/message/{{ $('Webhook').item.json.body.events[0].message.id }}/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [608, 96],
      "id": "badebc46-6f21-47c8-ace1-a03b3f806aa0",
      "name": "Get Image",
      "credentials": {
        "httpBearerAuth": {
          "id": "LINE_BEARER_CREDENTIAL_ID_HERE",
          "name": "LINE Channel Access Token"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Show Loading",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Show Loading": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "LINE Reply Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
