v3-voice-memo.json
{
  "name": "v3-voice-memo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9b4c6e2d-8a51-4f7e-b3d9-06c8e5a2f471",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1104,
        80
      ],
      "id": "c62cd8bd-a11a-4ca4-be1f-8192bb722cfa",
      "name": "Webhook",
      "webhookId": "9b4c6e2d-8a51-4f7e-b3d9-06c8e5a2f471"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/chat/loading/start",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chatId\": \"{{ $('Webhook').item.json.body.events[0].source.userId }}\",\n    \"loadingSeconds\": 20\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -880,
        80
      ],
      "id": "f489f64f-bada-4415-ab35-19a40b741f60",
      "name": "Show Loading",
      "credentials": {
        "httpBearerAuth": {
          "id": "LINE_BEARER_CREDENTIAL_ID_HERE",
          "name": "LINE Channel Access Token"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "187710ac-eb7f-47de-bbc1-98d3b5815d85",
                    "leftValue": "={{ $('Webhook').item.json.body.events[0].message.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2d0e573d-928f-44d2-83ff-89a810ffe2ba",
                    "leftValue": "={{ $('Webhook').item.json.body.events[0].message.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4e7a91c3-5b06-48d2-a8f7-c19e63d0b524",
                    "leftValue": "={{ $('Webhook').item.json.body.events[0].message.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -656,
        64
      ],
      "id": "457b9a91-d384-43a0-b2b1-9c9dc1029302",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.events[0].message.type === 'audio' ? ($('Transcribe Audio').item.json.content?.parts?.[0]?.text ?? $('Transcribe Audio').item.json.text) : ($('Webhook').item.json.body.events[0].message.text || '送られた画像について日本語で説明してください。') }}",
        "options": {
          "systemMessage": "あなたはLINE上で動くパーソナルAI秘書です。テキスト・画像・音声（文字起こし済み）の内容を踏まえて自然に応答します。音声で送られたボイスメモは、内容を受け止めて短くやり取りしてください（メモの保存は別の仕組みで自動的に行われるので、あなたが保存操作を気にする必要はありません）。\n\nユーザーが「メモ見せて」「タスクは？」「最近のメモは」など、保存済みのメモやタスクを知りたいときは、Read Memos Tool を使って最近のメモを取得し、要約とタスクを箇条書きで分かりやすく返してください。\n\n返信はLINEのトークとして自然な短い日本語で、Markdown記法（# や ** など）は使わないでください。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        16,
        48
      ],
      "id": "a86fed16-edfb-4527-af69-78033b11c477",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -32,
        240
      ],
      "id": "7bf6f04d-df15-4a3b-831d-81fd4f5b17f4",
      "name": "Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GEMINI_CREDENTIAL_ID_HERE",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.events[0].source.userId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        240
      ],
      "id": "08e292b1-4d24-45f6-b9dd-500bf620ffea",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "voice-memo（インポート後に選択し直す）"
        },
        "returnAll": false,
        "limit": 5,
        "orderBy": true,
        "orderByColumn": "createdAt",
        "orderByDirection": "DESC",
        "filters": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        256,
        240
      ],
      "id": "0a7fd4af-fbbf-430d-84ce-1de31f7d22df",
      "name": "Read Memos Tool"
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=以下はボイスメモの文字起こしです。内容を要約し、やるべきこと（タスク）があれば抽出してください。\n\n文字起こし:\n{{ $('Transcribe Audio').item.json.content?.parts?.[0]?.text ?? $('Transcribe Audio').item.json.text }}\n\n次のJSON形式のみで出力してください（前後に説明文やコードブロック記法を付けない）:\n{\"summary\": \"1〜2文の要約\", \"tasks\": [\"タスク1\", \"タスク2\"]}\nタスクが無ければ tasks は空配列にしてください。"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        16,
        464
      ],
      "id": "d90167dc-639e-476b-af80-09ea3bbb6f16",
      "name": "Summarize Memo",
      "credentials": {
        "googlePalmApi": {
          "id": "GEMINI_CREDENTIAL_ID_HERE",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transcribe（文字起こし）と Summarize（要約JSON）の出力から、保存用の行データを組み立てる。\n// Gemini ノードの出力はテキストが content.parts[0].text に入る形なので、そこから取り出す。\nconst transcript = $('Transcribe Audio').item.json.content?.parts?.[0]?.text\n  ?? $('Transcribe Audio').item.json.text ?? '';\n\nlet raw = $json.content?.parts?.[0]?.text ?? $json.text ?? '';\nif (typeof raw !== 'string') raw = JSON.stringify(raw);\nraw = raw.replaceAll('```json', '').replaceAll('```', '').trim();\n\nlet summary = '';\nlet tasks = '';\ntry {\n  const j = JSON.parse(raw);\n  summary = j.summary || '';\n  tasks = Array.isArray(j.tasks) ? j.tasks.join('\\n') : (j.tasks || '');\n} catch (e) {\n  // JSON でなければ、返ってきたテキストをそのまま要約として保存\n  summary = raw;\n}\n\nreturn {\n  recorded_at: new Date().toISOString(),\n  summary,\n  tasks,\n  transcript,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        464
      ],
      "id": "bc543009-9fb9-4f8c-9e6c-0642b20f3b78",
      "name": "Parse Memo"
    },
    {
      "parameters": {
        "operation": "insert",
        "dataTableId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "voice-memo（インポート後に選択し直す）"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "recorded_at": "={{ $json.recorded_at }}",
            "summary": "={{ $json.summary }}",
            "tasks": "={{ $json.tasks }}",
            "transcript": "={{ $json.transcript }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "recorded_at", "displayName": "recorded_at", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "summary", "displayName": "summary", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "tasks", "displayName": "tasks", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "transcript", "displayName": "transcript", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        544,
        464
      ],
      "id": "ad297ee4-bafe-498d-a79b-c93136744ade",
      "name": "Save Memo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"replyToken\": \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n    \"messages\":[\n        {\n            \"type\": \"textV2\",\n            \"text\": {{ JSON.stringify($json.output) }}\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        384,
        96
      ],
      "id": "c168c8e7-25cb-4061-a0bc-ae3616e827fc",
      "name": "LINE Reply Message",
      "credentials": {
        "httpBearerAuth": {
          "id": "LINE_BEARER_CREDENTIAL_ID_HERE",
          "name": "LINE Channel Access Token"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api-data.line.me/v2/bot/message/{{ $('Webhook').item.json.body.events[0].message.id }}/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [560, 40],
      "id": "badebc46-6f21-47c8-ace1-a03b3f806aa0",
      "name": "Get Image",
      "credentials": {
        "httpBearerAuth": {
          "id": "LINE_BEARER_CREDENTIAL_ID_HERE",
          "name": "LINE Channel Access Token"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api-data.line.me/v2/bot/message/{{ $('Webhook').item.json.body.events[0].message.id }}/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -448,
        464
      ],
      "id": "1b8ce53a-df13-4a95-ac8c-24463d0f5d2e",
      "name": "Get Audio",
      "credentials": {
        "httpBearerAuth": {
          "id": "LINE_BEARER_CREDENTIAL_ID_HERE",
          "name": "LINE Channel Access Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "binaryPropertyName": "data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        -224,
        464
      ],
      "id": "14786369-661e-40b9-800e-4f8ab2b74c75",
      "name": "Transcribe Audio",
      "credentials": {
        "googlePalmApi": {
          "id": "GEMINI_CREDENTIAL_ID_HERE",
          "name": "Google Gemini account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Show Loading",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Show Loading": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize Memo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Memo": {
      "main": [
        [
          {
            "node": "Parse Memo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Memo": {
      "main": [
        [
          {
            "node": "Save Memo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "LINE Reply Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Read Memos Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
